.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    left: 20px;
    transform: rotateX(30deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    // left: 0;
    right: -60%;
    margin: auto;
    width: 210%;
    opacity:0;
    transform: rotateX(0deg) rotateY(0deg)!important;
    z-index: 1;
  }
}

.svg-container {
  stroke: #eb6440;
  stroke-width: 200;
}